<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

  <title>Frontend Mentor | GitHub user search app</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="container">
      <div id="top-section">
        <h3 class="username">devfinder</h3>
        <button class="mode" onclick="changeTheme()">
          <div class="mode-title">Light</div>
          <img class="mode-icon" src="/images/icon-sun.svg" alt="mode-icon">
        </button>
      </div>
      <form action= "/" id="search-username" method="POST">
        <img class="search-icon" src="/images/icon-search.svg" alt="search-icon">
        <input class="search-input" type="seach" id="name" name="username" placeholder="Search GitHub username..." />
        <button class="search-button" type="submit">Search</button>
      </form>
      <% if(locals.data) {%>
        <div id="main-section">
          <img class="github-avatar" src=<%=data["avatar_url"]%> alt="github-avatar">
          <div class="github-user-details">
            <div class="github-top-section">
              <div class="github-name"><%= data.name %></div>
              <div class="github-joined-date">Joined <%=data.created_at%></div>
            </div>
            <div class="github-login">@<%= data.login %></div>
            <div class="github-bio">
            <% if(data.bio !== null) {%>
              data.bio
            <% } else { %>
              This profile has no bio
            <% } %>
            </div>
            <div class="github-repo-container">
              <div class="github-repo-detail">
                <div class="github-repo-title">Repos</div>
                <div class="github-repo-number">
                  <%= data.public_repos %>
                </div>
              </div>
              <div class="github-repo-detail">
                <div class="github-repo-title">Followers</div>
                <div class="github-repo-number">
                  <%= data.followers %>
                </div>
              </div>
              <div class="github-repo-detail">
                <div class="github-repo-title">Following</div>
                <div class="github-repo-number">
                  <%= data.following %>
                </div>
              </div>
            </div>
            <div class="github-contact">
              <div>
                <div class="github-media">
                  <img class="media-icon" src="/images/icon-location.svg" alt="location-icon">
                  <%= data.location %>
                </div>
                <div class="github-media">
                  <img class="media-icon" src="/images/icon-website.svg" alt="website-icon">
                  <%= data.blog %>
                </div>
              </div>
              <div>
                <div class="github-media">
                  <img class="media-icon" src="/images/icon-twitter.svg" alt="twitter-icon">
                  <% if(data.twitter_username !== null) {%>
                    <%= data.twitter_username %>
                  <% } else { %>
                    Not Available
                  <% } %>
                </div>
                <div class="github-media">
                  <img class="media-icon" src="/images/icon-company.svg" alt="company-icon">
                  <% if(data.company !== null) {%>
                    @<%= data.company %>
                  <% } else { %>
                    Not Available
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%}%>
    </div>
</body>
</html>

<script>
  function changeTheme() {
    var body = document.body;
    body.classList.toggle("white-theme");
  }
</script>
